* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#root>div>.goBack {
  font-size: 1.3rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  outline: 1px solid black;
  outline-offset: 2px;
  transition: all .5s ease;

  &:hover {
    transform: scale(1.1);
  }
}